<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Checkerboard</title>
</head>
<body>
    <div class="container">
        {% for i in range(x) %}
            {% if i % 2 == 0%}
                {% set odd_square_color = "red" %}
                {% set even_square_color = "black" %}
            {% else %}
                {% set odd_square_color = "black" %}
                {% set even_square_color = "red" %}
            {% endif %}

            {% for j in range(8) %}
                {% if j % 2 == 0 %}
                    <div class="block" style="background-color: {{ odd_square_color }}"></div>
                {% else %}
                    <div class="block" style="background-color: {{ even_square_color }}"></div>
                {% endif %}
            {% endfor %}
            <div class="break"></div>
        {% endfor %}
    </div>
</body>
</html>
