<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <title>Dojo_Gold</title>
</head>
<body>
    <div class="container">
        <div class="your_gold_amount">
            <form action="/" method="POST">
                <label class="gold_amount" for="gold_amount">Your Gold:</label>
                <input class="form-control" name="gold_amount" type="text" value="{{session['gold']}}" aria-label="Gold Amount" readonly>
                <a href="/clear">Clear</a> 
            </form>
        </div>
        <div class="d-flex flex-md-row justify-content-around align-items-center" >
            <div class="d-flex flex-column farm">
                <img src="{{ url_for('static', filename='image/farm.jpeg') }}" class="img-fluid " alt="farm">
                <form class="d-flex flex-column" action="/process_money" method="POST">
                    <input type="hidden" name="process_money" value="farm">
                    <input class="process_action" type="submit" value="Farm">
                </form>
            </div>
            <div class="d-flex flex-column cave">
                <img src="{{ url_for('static', filename='image/cave.jpeg') }}" class="img-fluid" alt="cave">
                <form class="d-flex flex-column" action="/process_money" method="POST">
                    <input type="hidden" name="process_money" value="cave">
                    <input class="process_action" type="submit" value="Cave" >
                </form>
            </div>
            <div class="house">
                <img src="{{ url_for('static', filename='image/house.jpeg') }}" class="img-fluid" alt="house">
                <form class="d-flex flex-column" action="/process_money" method="POST">
                    <input type="hidden" name="process_money" value="house">
                    <input class="process_action" type="submit" value="House">
                </form>
            </div>
            <div class="casino">
                <img src="{{ url_for('static', filename='image/casino.jpeg') }}" class="img-fluid" alt="casino">
                <form class="d-flex flex-column" action="/process_money" method="POST">
                    <input type="hidden" name="process_money" value="casino">
                    <input class="process_action" type="submit" value="Casino">
                </form>
            </div>
        </div>
        <div class="d-flex flex-column activities"">
                {% for message in session.activities %}
                    {% if message[1] == False %}
                        <p style="color:red;">{{message[0]}}</p>
                    {% else %}
                        <p>{{ message[0] }}</p>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</body>
</html>