<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_css.css') }}">
    
    <title>Survey</title>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <form action="" method="get">
                <div class="form-field">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name">
                </div>
                <div class="form-field">
                    <label for="location">Dojo Location:</label><br>
                    <select  id="location" name="location">
                    <option value="new_jersey">New Jersey</option>
                    <option value="timbucktoo">Timbucktoo</option>
                    <option value="flatland">FlatLand</option>
                    <option value="nowhere">Nowhere</option>
                    </select>
                </div>
                <div class="form-field">
                    <label for="location">Favorite Language:</label><br>
                    <select  id="favorite_language" name="favorite_language">
                    <option value="phython">Python</option>
                    <option value="Javascript">JavaScript</option>
                    <option value="c-sharp">C#</option>
                    <option value="haskell">Haskell</option>
                    </select>
                </div>

            </form>
        </div>
    </div>
</body>
</html>