<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_css.css') }}">
        <title>Counter</title>
    </head>
    <body>
        <div class="container">
            <H1>Counter</H1>
            <h2>{{session['refresh_count']}}</h2>
            <div class="counter_buttons">
                <p>{{click_button_color}}</p>
                <a href="/" type="button" class="click_button" style="background-color:{{ click_button_color }}"> Click </a>
                <button type="reset" class="reset_button">Reset</button>
            </div>
        </div>
    </body>
</html>