body, html {
    margin: 0;
    padding: 0;
    height: 85%;
    width: 100%;
    background-color: rgb(235, 235, 211);
}

.container {
    display: d-flex;
    flex-direction: column;
    justify-content: left  ;
    background-color: rgb(44, 133, 197);
    border: 5px;
    border-style: solid;
    border-color: blue;
    margin-top: 60px;
    padding: 30px;
    width: 1200px;
    height: 100%;
}

.your_gold_amount {
    height: 50px;
    width: 100%;
}

.gold_amount {
    text-align: center;
    width: 100px;
}

.clr_button {
    background-color: darksalmon;
    color: white;
    margin-left: 20px;
    padding: 8px;
    text-align: center;
    width: 70px;

}

form {
    display: flex;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;
}


.form-control {
    width: 100px;
    height: 50px;
}

.honey_pots {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    height: 275px;
    background-color: bisque;
}

.farm, .cave, .house, .casino {
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: black;
    
}


img {
    max-height: 100%;
    max-width: 100%;
}

.process_action {
    display: block;
    border: 1px solid #000;
    background-color: coral;
    color: black;
    height: 100%;
    text-align: center;
    margin: 20px;
    padding: 6px 3px 6px 3px;
    width: 60px;
}

.activities {
    margin: 70px 60px;
    max-height: 150px;
    min-height: 0;
    min-width: 0;
    overflow-y: auto;
    width: 90%;
    background-color: white;
    /* counter-reset: black; */
}

p {
    color: yellow;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.deficit {
    color: red;
}

.credit {
    color: green;
}